.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header, .main , .footer {
    margin : 20px;
    padding: 3em;
    border: 3px solid;
}

.header{
    color: blue;
}

.main{
    color: brown;
}
.footer {
    color: coral;
}
